*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

h1{
    text-align: center;
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
    
}

ul , li{
    list-style: none;
    padding: 0;
    margin: 10px;

}

.grid-wrap{
 position: relative;
 margin: 0;
 padding: 10px;
}

.grid-wrap ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    grid-auto-flow: dense;
    grid-gap: 2px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.grid-wrap ul li{
    position: relative;
}

.grid-wrap ul li:nth-child(1){
 grid-row: span 2;   
 grid-column: span 4;
}

.grid-wrap ul li:nth-child(2){
    grid-row: span 2;   
    grid-column: span 4;
   }

   .grid-wrap ul li:nth-child(3){
    grid-row: span 2;   
    grid-column: span 5;
   }  

   .grid-wrap ul li:nth-child(4){
    grid-row: span 2;   
    grid-column: span 6;
   } 

   .grid-wrap ul li:nth-child(5){
    grid-row: span 2;   
    grid-column: span 4;
   }

   .grid-wrap ul li:nth-child(6){
    grid-row: span 2;   
    grid-column: span 5;
   }
 
   .grid-wrap ul li:nth-child(7){
    grid-row: span 2;   
    grid-column: span 6;
   }

   .grid-wrap ul li:nth-child(8){
    grid-row: span 2;   
    grid-column: span 5;
   }

   .grid-wrap ul li:nth-child(9){
    grid-row: span 2;   
    grid-column: span 4;
   }

   .grid-wrap ul li:nth-child(10){
    grid-row: span 2;   
    grid-column: span 4;
   }

   .grid-wrap ul li:nth-child(11){
    grid-row: span 2;   
    grid-column: span 4;
   }

   .grid-wrap ul img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.1);
    transition: transform 0.3s ease-in-out;
  
   
   }

   .grid-wrap ul li:hover{
  
   cursor: pointer;
   transform: scale(1.1);
   }

   @media (max-width: 768px) {
    .grid-wrap ul img{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 12px;
        padding: 12px;
    }
}


@media (max-width: 480px) {
    .grid-wrap ul img{
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 8px;
        padding: 8px;
    }
}